.search {
  margin-bottom: 1rem !important;

  &__button {
    cursor: pointer;
  }

  &__result {
    flex-direction: row;

    img {
      display: inline-block;
      width: auto;
      max-height: 10rem;
      min-width: 5.875rem;
    }

    .card-text {
      span {
        display: block;
      }
    }
  }
}
